name: Deploy to Hostinger

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy to Server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          cd ${{ secrets.PROJECT_PATH }}
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          if [ ! -d ".git" ]; then
            echo "Initializing Git..."
            git init
            git remote add origin git@github.com:${{ github.repository }}.git
            git fetch origin
            git reset --hard origin/main
            git branch --set-upstream-to=origin/main main
          else
            echo "Pulling changes..."
            git pull origin main
          fi
          composer install --no-dev --optimize-autoloader
          # php artisan migrate --force # Uncomment if you have migrations
